.PageError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.pageErrorContent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pageErrorContent button {
  color: var(--primary-color);
}