.app_purple_theme{
  --bg-color: #b069b3;
  --inverted-bg-color: #FBF4FB;
  --primary-color: #FBF4FB;
  --secondary-color: #7152A3;
  --inverted-primary-color: #7152A3;
  --inverted-secondary-color: #FBF4FB;
}