.ProfileCard {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input{
  margin-top: 10px;
}

.loading,
.error {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  display: flex;
  width: 100%;
  justify-content: center;
}